h2{
  font-size: 4.015vw !important;
}
h3{
  font-size: 2.48vw !important;
}
h4{
  font-size: 1.53vw !important;
}
@media(max-width: 767px){
  h2{
    font-size: 9.27vw !important;
  }
  h3{
    font-size: 5.72vw !important;
  }
  h4{
    font-size: 3.53vw !important;
  }
}

/*Header*/
.navbar-default, .navigation{
  background-color: transparent !important;
  border-color: transparent !important;
  position: absolute !important;
  width: 100%;
  z-index: 2;
}
.menu-contact__link{
  float: right;
  margin: 15px 15px 0 0 !important;
  font-size: 13px;
  letter-spacing: 1px;
  color: #33CCFF !important;
  font-weight: 600 !important;
}
.menu-contact__link:hover, .menu-contact__link:active{
  color: #fff !important;
  border-color: transparent !important;
  background-color: transparent !important;
}
.main-slider__button_bordered{
  background-color: transparent !important;
  border: 2px solid #33ccff;
  color: #33ccff !important;
}
.main-slider__button_bordered:hover, .main-slider__button_bordered:active{
  background-color: #33ccff !important;
  color: #fff !important;
}
.navbar-brand{
  margin: 1em 0 0 1em;
}

/*Main lider*/
#main-slider .carousel h2{
  color: #fff;
  font-size: 6.5vw !important;
}
#main-slider .animated-item-2{
  text-transform: uppercase;
  line-height: 1em;
  font-size: 4.32vw !important;
}
#main-slider .carousel h2 span {
  color: #33CCFF;
}
#main-slider .item{
  background: url(../images/slider/bg1.jpg) no-repeat;
  background-size: cover;
}
@media(max-width: 500px){
  .menu-contact__link{
    float: none;
    display: block;
    margin-top: 100px !important;
    padding-left: 1em;
    font-size: 1.3em;
    text-align: center;
  }
}
@media(max-width: 767px){
  .navbar-brand{
    float: none;
    text-align: center;
  }
  #main-slider .item{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    background: url(../images/slider/bg1bw.jpg) no-repeat;
  }
  #main-slider .carousel h2{
    font-size: 15vw !important;
    color: #33CCFF;
  }
  #main-slider .carousel h2 span {
    color: #fff;
  }
}
.main-slider__button{
  margin-right: 1em;
  text-align: center;
}

/* Fearutes */
.feature h2{
  font-size: 2.48vw !important;
  font-weight: 600;
}
@media(max-width: 767px){
  .feature h2{
    font-size: 5.72vw !important;
  }
}
.feature p{
  color: #fff;
}
.feature i span{
  display: block;
  width: 40px;
  height: 40px;
  background-size: cover;
}
span.money{
  background: url(../images/icons/ruble.png) no-repeat center;
}
span.stopwatch{
  background: url(../images/icons/stopwatch.png) no-repeat center;
}
span.percentage{
  background: url(../images/icons/percentage.png) no-repeat center;
}
span.zero{
  background: url(../images/icons/zero.png) no-repeat center;
}
.hi-icon-effect i.fa:hover{
  background: #2b2b2b;
}

/*About*/
.about h2{
  text-transform: uppercase;
}
.about h2 span{
  font-weight: bold;
  color: #33ccff;
}
.about h3{
  font-size: 34px;
}
.about h3 a{
  font-size: 15px;
  color: #33ccff;
  position: relative;
  top: -6px;
}
.about .wow p{
  font-size: 13px !important;
}
.about-adv{
  margin-top: 2em;
}
.about-adv span{
  color: #33ccff;
  font-weight: bold;
  text-transform: uppercase;
}
.about-adv__market > span{
  display: block;
  margin-top: 3.5rem;
}
.about-adv__market span:nth-child(1){
  font-size: 89px;
  /*font-style: italic;*/
}
.about-adv__market span:nth-child(2){
  font-size: 55px;
  letter-spacing: -5px;
}
.about-adv__market span:nth-child(3){
  font-size: 13px;
  margin-top: 1em;
}
.about-adv__multinational{
  margin-bottom: 30px;
}
.about-adv__multinational > span {
  display: block;
  margin-top: 3.5rem;
}
.about-adv__multinational span:nth-child(1) span{
  font-size: 89px;
}
.about-adv__multinational span:nth-child(2){
  font-size: 34px;
}
.about-adv__multinational span:last-child{
  margin-top: 2rem;
}
/*Partners*/
#partner{
  padding: 100px 10px;
}
#partner h2{
  text-transform: uppercase;
}
#partner p{
  font-size: 1.53vw;
}
@media(max-width: 767px){
  #partner p{
    font-size: 3.53vw !important;
  }
}

/*Lates*/
.lates{
  padding: 50px 0;
}
.lates h2{
  text-transform: uppercase;
  color: #fff !important;
}
.lates h3{
  font-size: 34px !important;
  text-transform: uppercase;
  color: #33ccff !important;
}
.lates__text-stress{
  text-transform: uppercase;
  font-weight: 700;
}

/*Contact*/
.contact-info{
  text-align: right;
}
.contact-info h2{
  font-size: 6.5vw !important;
  color: #33ccff !important;
  text-transform: uppercase;
  font-weight: 700;
}
.contact-info p{
  color: #fff !important;
  font-size: 4.015vw !important;
  line-height: 1em;
}
@media(max-width: 767px){
  .contact-info h2{
    font-size: 9.27vw !important;
  }
  .contact-info p{
    font-size: 5.72vw !important;
  }
}
.contact-info span{
  color: #33ccff;
  font-weight: 600;
  display: block;
  padding-top: 1em;
}

/* Contact */
.contactForm{
  text-align: center;
}
#contact-page h2, #contact-page p{
  color: #fff !important;
}
#contact-page .btn-primary {
  padding: 5px 20px;
  margin-top: 0;
}
.validation{
  position: absolute;
}